body {
  background-color: black;
  font-family: arial;
  color: white;
  }
h1{
  color: grey;
  font-family: verdana;
  }
  
.maindiv {
  background-color: white;
  color: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  }
.center{
    text-align: center;
}
.left{
  display: inline-block;
  text-align: left;
}

.yellow{
  background-color: yellow;
}
  
